.fj-calendar,
.fj-calendar *,
.fj-calendar *:before,
.fj-calendar *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 16px;
}

.fj {
    margin: 5px 0 0 5px;
    _width: 315px;
    width: 365px;
    _height: 530px;
    height: 480px;
    border: 1px solid #ddd;
}

.fj-tabs {
    margin-top: 10px;
    _width: 315px;
    width: 364px;
}

.fj-tabs .nav-tabs > li:first-of-type {
    _margin-left: 40px;
    margin-left: 65px;
}

.fj-tabs .nav-tabs > li {
    font-weight: 700;
}

.fj-tabs .tab-content .tab-pane {
    _height: 460px;
    height: 410px;
}

.fj-tabs .tab-content > .active {
    background-color: #ddd;
}

.fj-tabs .nav-tabs > li.active a {
    background-color: #ddd;
}

.fj-tabs .tab-content > .tab-pane {
    padding: 10px;
}

.fj-tabs .form-group input[type="submit"] {
    float: right;
    margin-top: 5px;
}

.fj-tabs .form-group .checkbox label {
    font-weight: 700;
}

#fj-container .fj .alert-success {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 6px;
}

.fj-stats .summary .stat-label {
    width: 170px;
    display: inline-block;
    text-align: right;
    margin: 2px 4px;
    font-weight: bold;
}

.fj-stats .summary .stat-amount {
    display: inline-block;
    margin: 2px 0 2px 4px;
}

.fj-stats .summary .stat-amount.good {
    color: green;
}

.fj-stats .summary .stat-amount.bad {
    color: red;
}

.login-container {
    width: 365px;
    border: 1px solid #ddd;
    margin: 5px 0 0 5px;
}

.login-container .login-field {
    margin: 8px;
}

.login-container .login-submit {
    text-align: center;
}

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.fj.modal-container .modal-dialog {
    width: 354px;
    margin: 15px 5px;
}
