body {
    margin: 0;
    color: #3E606F; 
}

.calendar-container {
    display: flex;
    width: 750px;
    flex-direction: row;
    background-color: #193441;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    _min-height: 200px; /* Whatever height gets taken from here, add below */
    height: 150px;
}

.element-container {
    display: block;
    width: 360px;
    margin: auto;
}

.main-container {
    width: 750px;
}

/* Clean this up */
.fjTabs {
    border: 1px solid rgb(158, 158, 158);
    border-top: none;
    border-bottom: none;
    _height: 378px;
    height: 428px;
    overflow: scroll;
}

.saveButton {
    width: 750px;
    background: rgba(158, 158, 158, .7);
    height: 50px;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
    border: none;
    display: inline-block;
}

.isLoading {
    background: rgba(0, 0, 0, .85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 750px;
    height: 628px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.isLoaded {
    display: none;
}


hr.divider {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .calendar-container, 
    .main-container {
        width: 414px;
    }
    .saveButton {
        width: 414px;
    }
    .isLoading {
        width: 414px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .calendar-container,
    .main-container {
        width: 736px;
    }
}


.calendar-top {
    width: 90%;
    display: flex;
}

.prev-control, 
.next-control {
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.next-control {
    justify-content: flex-start;
}

.prev-control svg,
.next-control svg {
    font-size: 48px;
    vertical-align: middle;
}

.prev-control a, 
.next-control a {
    color: #3E606F;
}

.prev-control a:hover,
.next-control a:hover {
    color: #fff;
}

.calendar-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* NEWISH */
.calendar-display .top-row {
    display: flex; 
    align-items: center; 
    height: 52px;
}

.mmm-ddd {
    font-size: 24px;
    margin-right: 4px;
    text-transform: uppercase;
}

.mmm {
    font-weight: 400;
}

.ddd {
    color: rgba(255, 255, 255, .8);
    font-weight: 100;
    letter-spacing: 1px;
}

.big-dd {
    font-size: 74px;
    font-weight: 400;
}

.bottom-row {
    text-align: center;
}

.yyyy {
    font-size: 42px;
    letter-spacing: 12px;
    color: rgba(153, 153, 153, .4);
    font-weight: 100;
}

/* END NEWISH */

.calendar-month {
    flex: 1;
    display: flex;
    font-size: 20px;
    justify-content: flex-start;
    font-weight: 400;
    text-transform: uppercase;
    margin: 6px 0 0 0;
}

.calendar-the-rest {
    flex: 1;
    font-size: 16px;
    font-weight: 100;
}

.calendar-year {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 400;
    margin: 6px 0 0 0;
}

.calendar-date {
    font-size: 110px;
}

.calendar-weekday {
    text-transform: uppercase;
    font-size: 28px;
    margin: -12px 0 12px 0;
}
